p{
    color:rgb(223, 223, 223);
}

h1{
    color:rgb(239, 242, 255);
}

/*Seletpr de id*/

#paragrafo1{
    text-align: center;
    color:rgb(199, 255, 255);
}

/*Seletor de classe*/

.myclass{
  border: 0.2em ridge rgb(19, 19, 56);
}

/*junção de seletores*/

li.myclass{
    font-size: x-large;
}

.newclass{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.testcolor{
  padding: 2%;
  background-color: rgb(85, 103, 121,0.4);
}