body{
    background-color: rgb(220, 245, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:link{
    color:rgb(255, 0, 170);
}

a:visited{
    color: rgb(132, 0, 255);
}

label{
    display: block;
    margin-top: 1rem;
}

.forms{
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(191, 225, 255, 0.3);
}

input{
    border-radius: 0.2rem;
    border-color: rgba(28, 75, 136, 0.568);
    padding: 0.4rem;
}

.insta:hover{
    background-color: rgb(187, 223, 255);
}

#nasc:hover{
    background-color: rgb(207, 214, 255);
}