
body{
    background-color: rgb(238, 241, 252);
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
}

.menu{
   background-color: rgb(218, 227, 255);
   padding: 2rem;
   margin-right: 1rem;
   width: 10%;
}

.conteudo{
padding: 3rem;
width: 90%;
}

.item-menu{
    padding: 0,8rem;
    margin: 2rem 1rem 1rem 0rem;
    list-style: none;
    border-bottom: solid;
}

.item-menu:hover{
    background-color: #c3c3ff;
}

section{
    margin-top: 2rem;
    padding: 1rem;
}

#sec1{
    background-color: rgb(236, 232, 255);
}

#sec2{
    background-color: rgb(236, 232, 255);
}

#sec3{
    background-color: rgb(236, 232, 255);
}

#sec4{
    background-color: rgb(236, 232, 255);
}
